body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 1.5;
}


/* navigation bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-links {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* download-buttons */
.download-buttons {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  position: absolute;
  transform: rotate(25deg);
  width: 60%;
}

/* features */
.features {
  background-color: white;
  padding: 10% 15%;
  position: relative;
  text-align: center;
  z-index: 1;
}

.fet {
  color: #8f8f8f;
  padding: 7%;
}

.features-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: 900;
}

.fas1 {
  color: #ef8172;
  margin-bottom: 1rem;
}

.fas1:hover {
  color: #ff4c68;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}

.carousel-item {
  padding: 10% 15%;
}

.test-header {
  font-family: 'Sacramento', cursive;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.5;
}

.testimonial-image {
  border-radius: 100%;
  margin: 10px;
  width: 10%;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%
}

.press-logo {
  margin: 20px 20px 50px;
  width: 15%;
}

/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

/* cta */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;
}

.cta-header {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
}
.btn1 {
margin-bottom: 0;
}

/* footer */
#footer {
  background-color: #fff;
  text-align: center;
  padding-top: 5rem;
}
.d1 {
padding: 1rem;
}
.foot-p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  padding-top: 2rem;
  color: grey;
}



@media (max-width: 1028px){
#title {
  text-align: center;
}

.title-image{
  position: static;
  transform: rotate(0);
}

}
